BOATS_DIRECTORY_PATH=/path/to/your/boats/folder
SECRET_DIRECTORY_PATH=/somewhere_over_the_rainbow/Secret/
ARCHIVE_DIRECTORY_PATH=/path/to/Archives/
LOGS_DIRECTORY_PATH=/path/to/Logs/
FLEET_DIRECTORY_PATH=/path/to/boats/fleet
